---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Lato, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$table-view-font-size: 19px;

$spacing-unit:     30px;

$text-color:       #EDEFF0;
$background-color: #1E212D;
$brand-color:      #EDEFF0;

$grey-color:       #C555B6;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 10%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.list-group-item {
    background-color: #2C2F3C;
}

.wrapper {
    padding-left: 0;
    padding-right: 0;
}

.post {
    padding-left: 5px;
    padding-right: 5px;
}

.list-group {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.list-group-item {
    border-left: 0;
    border-right: 0;
    border-color: #5B5D64;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item .badge {
    background-color: transparent;
    font-size: 25px;
    padding: 0 0 0 0;
    color: $text-color;
}

.post-link {
    font-size: $table-view-font-size;
    color: $text-color;
}

.post-link:link {
    text-decoration: none;
    color: $text-color;
}

.post-link:visited {
    text-decoration: none;
    color: $text-color;
}

.post-link:hover {
    text-decoration: none;
    color: $text-color;
}

.post-link:active {
    text-decoration: none;
    color: $text-color;
}
